<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>北京天气</title> 
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
 
<body class="gray-bg">
<div class="container">
	<div class="row">
	    <div class="col-sm-7">
	        <div class="ibox float-e-margins">	          
	            <div class="ibox-content">
	                <div class="row">
	                    <div class="col-sm-6 b-r">
	                        <h3 class="m-t-none m-b">北京天气</h3>
	                        <p>欢迎查询北京天气</p>
                          	<p>温度：10度</p>
                          	<p>风力：四级</p>
                          <p>湿度：70%</p>
                          
	                    </div>	                   
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div> 
<script src="/static/js/jquery-3.3.1.min.js?v=3.3.1"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>